
.container{
    background-image: url(persoimage1.jpg);
    color: blueviolet;
    text-align: center:
    float:left ;
    background-color: darkmagent;
}


.header-writing{
    text-align: center;
}


.body{
    margin: 3%;
    text-align: center;
}


.image{
    float: left;
      margin: 4%;
    border-radius: 8px;
    color:aliceblue;
}

footer {
    background-color: darkmagenta;
    color: aliceblue;
}



#navbarCollapse {
    background: darkmagenta;
      display: block;
    color: white;
}

#navbarCollapse ul li a{
    color: white;
    padding: 25px;
}

#navbarCollapse ul li:hover{
    background: green;
}

#navbarCollapse ul li{
    display: inline-block;
    list-style-type: none;
}