/* this will be your css stylesheet */
html{
      font-family:  'Gravitas One', cursive;
    margin: 50px;
}

p#{
    font-family: 'Shanti', sans-serif;
    font-size: 2.95em; 
}

.title{
     font-family:  'Gravitas One', cursive;
}


h1{
  font-family:  'Gravitas One', cursive;
    font-size: 2.95em
    font-size: 3.95em;
    color: rebeccapurple;
    text-align: center
}

h2{
    font-family:  'Gravitas One', cursive;
    font-size: 1.5em;
    font-style: oblique;
    color: #8EB9A8;
    text-align: center;
}

.h2{
      font-family: 'Shanti', sans-serif;
    font-size: 2.95em
}



a:link {
    color: red;
}
a:visited {
    color:red;
}
a:hover {
    color: black;
}

img {
    width: 150px;
    height: auto;
    border-radius: 100%;
    margin: 50px ;
}

/* this is my body css */
body {
    background-image: url(background_image2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: repeat-x repeat-y;
    background-size: 550px 250px;
}

h4 {
    
    margin-right: 20px;
}
ul{
    
}


